#title{
    height: 100px;
    width: 100%;
    background-color:#046738;
    padding: 20px;
    margin-top: 75px;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb .active{
    color: rgb(182, 204, 195);
}
#slide{
  margin-top:10px;
  height: auto;
}
#what-people-say-title{
    height: 70px;
    width: 100%;
    background-color:#046738;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
}
#what-people-say{
  margin-top:10px;
  width: 100%;
  height: auto;
  padding:0;
}
#nextech img{
  height: 400px;
}
#circle img{
  height: 100px;
  width: 100px;
}
