#title{
    height: 100px;
    width: 100%;
    background-color:#046738;
    padding: 20px;
    margin-top: 75px;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb .active{
    color: rgb(182, 204, 195);
}
.what-we-are{
    background-color:#F5F5F5;
}
.content{
margin-top: 50px;
}
.h2-responsive{
    font-size:30px;
    font-weight: 700;
    font-family:"Fjalla One";
    color: #046738;
}
.p-res{
    font-family: corbel, agency fb, "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 22px;
    font-size: 16px;
}
.progress-bar{
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 18;   
}