#title{
    height: 100px;
    width: 100%;
    background-color:#046738;
    padding: 20px;
    margin-top: 75px;
}
.breadcrumb{
    background-color: transparent;
}
.breadcrumb .active{
    color: rgb(182, 204, 195);
}
.what-we-are{
    background-color:#F5F5F5;
}
.content{
margin-top: 50px;
}
.h2-responsive{
    font-size:30px;
    font-weight: 700;
    font-family:"Fjalla One";
    color: #046738;
}
.p-res{
    font-family: corbel, agency fb, "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 22px;
    font-size: 16px;
}
.progress-bar{
    padding-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 18;   
}
.h2-text{
    margin-bottom: 0px;
}
.h2-text hr{
    margin-bottom: 0px;
    background-color: #046738;
    margin-top: 0px;
    width: 226px;
}
.card hr{
    background-color: #046738;
}
.card-title{
    margin-top: 5px;
}
.h2-text::after{
    content: '';
    position: absolute;
    margin-top: 0px;
    width: 80px;
    height: 5px;
    left: 115px;
    display: block;
    clear: both;
    background-color: #046738;
}
.members{
        margin-top: 20px;
}