<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark white fixed-top scrolling-navbar ie-nav" [containerInside]="false">
    <logo>
      <a class="navbar-brand clear-fix" href="#">
        <img src="assets/logo.png" class="" style="height: 40px;width: 200px" />
      </a>
    </logo>
    
    <!-- Collapsible content -->
    <links>
      
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active waves-light" mdbRippleRadius>
          <a class="nav-link" style="color:#046738;font-family:Fjalla One; font-size: 15px; font-weight: bold;">HOME
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link nav-a" routerLink="/about" style="color:#000000;font-family:Fjalla One; font-size: 15px; font-weight: bold;">ABOUT US</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" style="color:#212733;font-family:Fjalla One; font-size: 15px; font-weight: bold;">SERVICES</a>
        </li>
        <li class="nav-item waves-light" mbdRippleRadius>
          <a routerLink="/portifolio" class="nav-link" style="color:#212733;font-family:Fjalla One; font-size: 15px; font-weight: bold;">PORTFOLIO</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius style="color:#212733;font-family:Fjalla One; font-size: 15px; font-weight: bold;">
            MORE
            <span class="caret"></span>
          </a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Forum</a>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">Join Forum</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbRippleRadius href="#">News</a>
          </div>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a routerLink="contact" class="nav-link" style="color:#212733;font-family:Fjalla One; font-size: 15px; font-weight: bold;">CONTACT US</a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
    
  </mdb-navbar>
  <!--/.Navbar-->
</header>
<div class="">
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade">
    <!--First slide-->
    <mdb-slide>
      <div style="height: 450px;width: 100%;background-color: #153240;">
        <div class="view hm-black-light animated bounceInLeft">
          <img class="d-block w-100 caro-img" src="assets/slide1.png" alt="First slide">
          <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption animated bounceIn">
          <h2 class="h2-responsives">Software Development</h2>
          <p>Improve productivity by increasing effeiciency</p>
        </div>
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide >
      <div style="height: 450px;width: 100%;background-color: #A30F0F;">
        <div class="view hm-black-strong animated bounceInRight">
          <!-- <img class="d-block w-100 caro-img" src="" alt="Second slide"> -->
          <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption animated bounceIn">
          <h2 class="h2-responsives">Responsive Website</h2>
          <p>Wider reach through different devices and resolution</p>
        </div>
      </div>
    </mdb-slide>
    
    <mdb-slide>
      <div style="height: 450px;width: 100%;background-color: #046738;">
        <div class="view hm-black-strong animated bounceInRight">
          <!-- <img class="d-block w-100 caro-img" src="" alt="Second slide"> -->
          <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption animated bounceIn">
          <h2 class="h2-responsives">Software Consultancy</h2>
          <p></p>
        </div>
      </div>
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
</div>
<section class="text-muted main-info">
  <div class="text-center">
    <h4 class="">Your success is our success. We have a number of effective solutions for your business.</h4>
    <p>
      Visit our resources page and browse through our list of free and open source solutions for your business.
      your business process efficient
    </p>
    <a href="" class="btn btn-outline-green">Browse Our Products</a>
  </div>
</section>
<section  id="services">
  <div class="container">
    <h4 class="text-center services-h4"><strong>What We Offer</strong>
      <hr>
    </h4>
    <p class="text-center" style="color: #ffff;">
      Read through some of the products and services we offer to our valuble clients
    </p>
    <div class="row">
      <div class="col-md-6">
        <h4>
          <span>
            <i class="fa fa-laptop md"></i>
          </span>Responsive Web Design</h4>
          <p class="text-left" style="color:#DADADA;">
            We have a team of skilled experts in Responsive Web Design in Kenya, experienced in the latest web design technologies in
            the market and who keep abreast of recent developments in the technologies used to develop your website. We translate your
            requirements and concept idea to a truly unique website within which you can meet your customer needs and increase sales
            leads. We specialize in creating a one stop shop, professional, unique and value for money product that will facilitate
            a good brand while increasing profitability. We offer exciting effects that will create a modern, vibrant and visually
            pleasing site.
          </p>
        </div>
        <div class="col-md-6">
          <h4>
            <span>
              <i class="fa fa-search"></i>
            </span>Search Engine Optimization</h4>
            <p class="text-left" style="color:#DADADA;">
              Having a website alone is not enough. Digital marketing (DM) refers to the techniques used to increase the visibility of
              your website by driving traffic from all online sources to your website. Digital Marketing partly involves Search Engine
              Optimization (SEO). For you to get your potential customers to your site, they need to be able to find it in search engines
              such as Google, MSN, Bing, Yahoo etc therefore the need for SEO. There are many factors that affect your rank in these search
              engines and they are all changing all the time. We at Sador IT Firm are experts in SEO in Kenya and work very hard to keep
              up-to-date with the best and most effective techniques in search engine optimization.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h4><span>
              <i class="fa fa-android"></i>
            </span>Software Development</h4>
            <p class="text-left" style="color:#DADADA;">
              Our software is built using the latest two-tier technology. It can work both online and locally through an intranet thereby
              enabling you to access from any location and use to remotely manage all the locations your business may operate in from any
              one centralized location or even from your mobile phone! The software we create is web based. We can seamlessly incorporate
              our software into your website through a plug in or build you a new website using our own software. This gives you the added
              advantage of one point of entry for your whole business. Any information entered into our software modules can be published
              to your website at the touch of a button.
            </p>
          </div>
          <div class="col-md-6">
            <h4>
              <span>
                <i class="fa fa-globe"></i>
              </span>IT Consulting</h4>
              <p class="text-left" style="color:#DADADA;">
                Like the vast majority of our customers, IT is probably not your core business. Trying to solve all of your IT challenges
                internally can become a major distraction, and other aspects of your business can suffer. More often than not these challenges
                end up costing way in excess of your initial expectations. If you need help with a special project involving your IT assets
                and/or consulting, we're eager to assist you. We are an expert, affordable IT consulting firm in Kenya providing advisory
                and managerial services that will meet any of your short, or long-term IT objectives.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="work ">
        <h4 class="text-center work-h4">
          <strong>Our Recent Work</strong>
          <hr>
        </h4>
        <p class="text-center" style="color: #ffff;">
         Look at some of the recent projects we have completed for our valuble clients
        </p>
<div class=" container">
  <div class="row">
<div col-md-3>
  <div class="view overlay hm-black-strong" style="height: 162px;width: 270px">
    <img src="assets/finance.png" class="img-fluid" />
    <div class="mask flex-center">
      <a href="https://example.com" class="white-text" target="_blank">
        <i class="fa fa-link"></i>
      </a>
    </div>
  </div>
</div>
<div col-md-3>
  <div class="view overlay hm-black-strong" style="height: 162px;width: 270px">
    <img src="assets/finance.png" class="img-fluid" />
    <div class="mask flex-center">
      <a href="https://example.com" target="_blank" class="white-text"><i class="fa fa-link"></i></a>
    </div>
  </div>
</div>
<div col-md-3>
  <div class="view overlay hm-black-strong" style="height: 162px;width: 270px">
    <img src="assets/finance.png" class="img-fluid" />
    <div class="mask flex-center">
      <a href="https://example.com" target="_blank" class="white-text"><i class="fa fa-link"></i></a>
    </div>
  </div>
</div>
<div col-md-3>
  <div class="view overlay hm-black-strong" style="height: 162px;width: 270px">
    <img src="assets/finance.png" class="img-fluid" />
    <div class="mask flex-center">
      <a href="https://example.com" target="_blank" class="white-text"><i class="fa fa-link"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
      </section>
      <footer class="page-footer" style="margin-bottom: 0px">
        <div class="teal darken-4">
          <div class="container-fluid container">
            <div class="row">
              <div class="col-md-4">
                <h3 class="center">About NexTech</h3>
                <hr style="background-color: whitesmoke">
                <ul class="navbar-nav nav">
                  <li>Company Information</li>
                  <li>Privacy Policy</li>
                  <li>Terms of use</li>
                </ul>
              </div>
              <div class="col-md-4">
                <h3>Social</h3>
                <hr style="background-color: whitesmoke">
                <p> Stay up-to-date through our social media channels:</p>
                <ul class="nav navbar-nav">
                  <li class="nav-item">
                    <a href="https://www.facebook.com/" style="background-color: transparent" class=" waves-effect waves-light">
                      <i class="fa fa-facebook" style="margin-right: 10px"></i>Facebook</a>
                  </li>
                  <li class="nav-item">
                    <i class="fa fa-twitter" style="margin-right: 10px"></i>Twitter</li>
                  <li class="nav-item">
                    <i class="fa fa-instagram" style="margin-right: 10px"></i>Instagram</li>
                </ul>
              </div>
              <div class="col-md-4">
                <h3>Important Links</h3>
                <hr style="background-color: whitesmoke">
                <ul>
                  <li>
                    <a href="#!">Products</a>
                  </li>
                  <li>
                    <a href="#!">FAQ</a>
                  </li>
                  <li>
                    <a href="#!">Business Partnerships</a>
                  </li>
                  <li>
                    <a href="#!">About Us</a>
                  </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container-fluid" style="background-color: #046738">
              <p>All Rights Reserved |&copy; 2018 | NexTech</p>
            </div>
          </div>
        </footer>