.h2-responsives{
    font-size:30px;
    font-weight: 700;
    font-family:Roboto Slab,Serif
}
.phone{
    padding-bottom: 0%;
    margin-bottom: 0%;
    font-weight: 300px;
}
#hum{
    background-color: #046738;
    color: #fff;
}
.main-info div{
    margin-top: 10px;
}
.main-info h4{
font-family: "Fjalla One";
font-size: 20px;
font-weight: normal;
}
.main-info p{
font-size: 15px;
}

#services h4{
    color: #046738;
}

.services-h4 hr{
    margin-top: 3px;
    margin-bottom: 0px;
    width: 200px;
    background-color:#fafafa;
}
.phone-h4 hr{
margin-top: 3px;
    margin-bottom: 0px;
    width: 200px;
    background-color:#fafafa;
}
.services-h4::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    left: 575px;
    display: block;
    clear: both;
    background-color: #fefffe;
}
#services i{
    color: #046738;
}
#services img{
    height: 300px;
    width: 400px;
}
#services .col-md-6{
    margin-top: 10px;
}
.services-h4{
    font-size: 30px;
}
.work{
    
    width: 100%;
    // background-color: #046738;
    margin-top: 5px;
}
.work .col-md-3{
    margin-bottom:10px;
}
.work-h4 hr{
    margin-top: 3px;
    margin-bottom: 0px;
    width: 200px;
    background-color:#046738;
}
// .work-h4::after{
//     content: '';
//     position: absolute;
//     width: 80px;
//     height: 5px;
//     left: 575px;
//     display: block;
//     clear: both;
//     background-color: #046738;
// }
.fa-link{
    color: #ffff;
}
footer{
    margin-top:0px;
}